// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$btn-background: rgb(79, 125, 243);
$btn-border: rgb(150, 150, 150);
$btn-box-shadow: rgba(79, 125, 243, 0.5);
$error-color: rgb(255, 82, 99);
$input-border: rgb(150, 150, 150);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(150, 150, 150);
$word-color-3: rgb(79, 125, 243);
$word-color-4: rgb(0, 0, 0);